:root{
    --section-padding:20px;
}
html, body{
    overflow-x: hidden;
}
.body{
    font-family: "Bai-Jamjuree", sans-serif;
    
}
/* start componants */

.main-btn-mac{
    background-color: hsl(228, 45%, 44%) ;
    color: white;
    padding-left:25px ;
    padding-right:25px ;
}
.main-btn-ios{
    background-color: #26bba4 ;
    color: white;
    padding-left:25px ;
    padding-right:25px ;
}

/* end componants */
.heading{
    position: relative;
    padding-bottom: var(--section-padding);
}
.heading .logo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}
@media(max-width:767px){
    .main-heading .btns{
        display:grid ;
    }
    .main-heading .btns .main-btn-ios,
    .main-heading .btns .main-btn-mac{
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.main-heading p{
    max-width:550px;
}

.feat p{
   max-width: 590px;
}
.computer{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.comp-holder{
    position: relative;
}
.computer img{
    position: absolute;
    left: -100px;
   width: auto;
   height: auto;
}
@media(max-width:767px){
    .computer .comp-holder{
        height: 640px;
        width: auto;
        margin: auto;
    }
    .computer .image {
        position: static;
        width: -webkit-fill-available;
    }
    
}
.access{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);    
    margin-top: 350px;
}
.access p{
    max-width: 590px;
}
@media(max-width:767px){
    .access img{
        width: -webkit-fill-available;
    }
    .access{
        margin-top: 80px;
    }
}
.supercharge .camp{
    margin-top: 100px;
    margin-bottom: 100px;
}
.supercharge .camp{
    margin-right: 60px;
}
.clipboard{
    margin-bottom: 100px;
}
.clipboard .text p{
    max-width: 590px;
}
@media(max-width:767px){
    .clipboard .btns{
        display: grid;
    }
    .clipboard .btns .main-btn-ios,
    .clipboard .btns .main-btn-mac{
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.foot{
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
}
.foot img{
    width: 40px;
    
}
.foot .icon{
    width: 20px;
    margin-left: 15px;
}
.foot ul{
    text-align: center;
}
